extends base.pug

block scripts 
    script(src='/index.js')

block style 
    style
     include /style.css
     include /styleabout.css

block content 
    div.container
      h1 About Us
      p Our website aims to help people in tracking different kinds of clothes on different e-commerce platforms.  
      p You can copy the link of your favourite item and just put it here.
      p It acts like your evergreen shopping cart and thus helps in managing and simplifying your shopping.
      p You can come anytime again and the link submitted by you will redirect you to your item.
      