doctype html
html
  head
    title WEbsite  
    block scripts
    block style 
       
  body
  <nav class="navbar"> 
            <ul class="list">
                <div class="logo">
                <img src="https://e7.pngegg.com/pngimages/195/996/png-clipart-shopping-cart-computer-icons-online-shopping-symbol-shopping-logo-design-supermarket-bag-thumbnail.png" alt="logo">
                 </div>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            //- <div id="right">
                //- <input type="text" class="search" placeholder="Search here">
                //- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYNxF_CGIyirahwMGzhrgwuVN1Fmi3jvKjqoOiSTEtNg&s" alt="search" class="img2">
                <a href="/Login">Login</a>
</div>
</nav>
block content
block foot
    <footer id="footer">Copyright @ 2023 shoppingmanager.com || All rights reserved</footer>
       