//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>WEbsite</title>
//-     <link rel="stylesheet" href="/style.css">
//-     <link rel="stylesheet" href="/index.js">
//- </head>
//- <body>
//-     <nav class="navbar"> 
//-             <ul class="list">
//-                 <div class="logo">
//-                 <img src="https://e7.pngegg.com/pngimages/195/996/png-clipart-shopping-cart-computer-icons-online-shopping-symbol-shopping-logo-design-supermarket-bag-thumbnail.png" alt="logo">
//-                  </div>
//-                 <li><a href="/">Home</a></li>
//-                 <li><a href="/about">About</a></li>
//-                 <li><a href="/sponsors">Sponsors</a></li>
//-                 <li><a href="/contact">Contact</a></li>
//-             </ul>
//-             <div class="right">
//-                 <input type="text" class="search" placeholder="Search here">
//-                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYNxF_CGIyirahwMGzhrgwuVN1Fmi3jvKjqoOiSTEtNg&s" alt="search" class="img2">
//-                 </div>
//-             </nav>
//-              <section id="content">
//-             <h1 class="h-primary">All your clothes at one place!!</h1>
//-             <p style="font-size:40px">Tired of tracking different kinds of clothes at different places online??? &#129300; &#129300; </p>
//-             <p style="font-size:40px">Let us do your work &#129323;</p>
//- </section>
//- //- <section>
//- //-           <p class="xyz"><textarea name="link" id="link" style="background-color:antiquewhite" placeholder="Copy the link here" cols="100" rows="8">
//- //- </section>

//- <footer id="footer">Copyright @ 2023 shoppingmanager.com , All rights reserved</footer>
//- </body>
//- </html>