*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
h1{
    text-align:center ;
    margin: 11px ;
    
}
.container{
    background-color: antiquewhite;
    height: 75vh ;
}
p{
    font-size: 30px ;
    margin: 5px ;
    /* text-align: center; */
}
